<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title>华生侦探助手</title>
</head>


<body>
    <h1>华生侦探助手</h1>
    <table>
        <thead>
            <tr>
                <th>姓名</th>
                <th>凶手</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <th>2</th>
            </tr>
        </tbody>
    </table>
</body>
</html>